@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}
/* Global Use */

.text_black {
  color: #2c2b2b !important;
}
.text_darkblue {
  color: #2e4c6e;
}
.text_lightblue {
  color: #5e94fd;
}
.font_weight_500 {
  font-weight: 500;
}
hr {
  color: #919191;
}
.social-icons span {
  padding-left: 1.2rem;
}
span.search-icon:last-child {
  padding-left: 2rem;
}
/* Styles */

/* Navbar section */

nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 80px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  nav .navbar {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
    /* margin-left: -12rem; */
  }
  nav .navbar .links {
    display: flex;
  }
  nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    font-size: 15px;
    font-weight: 600;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(180deg);
  }
  
  nav .navbar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #000;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #e0e3f4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: block;
  }
  .navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: "Work Sans", sans-serif;
  }
  .navbar .links li .sub-menu a {
    color: #000;
    font-size: 15px;
    /* font-weight: 600; */
    margin-left: -30px !important;
    font-family: "Work Sans", sans-serif;
  }
  .navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu {
    display: block;
  }
  .navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
  }
  .navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 50px;
    width: 295px;
    background: #e0e3f4;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    z-index: 99;
    pointer-events: auto;
    background: #2e4c6e;
  }
  .search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo {
    display: none;
  }
  .navbar .bx-menu {
    display: none;
  }
  @media (max-width: 920px) {
    nav .navbar {
      max-width: 100%;
      padding: 0 25px;
    }
  
    nav .navbar .logo a {
      font-size: 27px;
    }
    nav .navbar .links li {
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a {
      font-size: 15px;
    }
  }
  @media (max-width: 800px) {
    .navbar .bx-menu {
      display: block;
    }
    nav .navbar .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background: #e0e3f4;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebar-logo .logo-name {
      font-size: 25px;
      color: #fff;
    }
    .sidebar-logo i,
    .navbar .bx-menu {
      font-size: 25px;
      color: #000;
    }
    nav .navbar .links {
      display: block;
      margin-top: 20px;
      padding-left: 0;
    }
    nav .navbar .links li .arrow {
      line-height: 40px;
    }
    nav .navbar .links li {
      display: block;
    }
    nav .navbar .links li .sub-menu {
      position: relative;
      top: 0;
      box-shadow: none;
      display: none;
    }
    nav .navbar .links li .sub-menu li {
      border-bottom: none;
    }
    .navbar .links li .sub-menu .more-sub-menu {
      display: none;
      position: relative;
      left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
      transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu {
      display: none;
    }
    .navbar .links li .sub-menu .more span {
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links li .sub-menu .more:hover .more-sub-menu {
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
      display: none;
    }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
      transform: rotate(180deg);
    }
    .navbar .nav-links.show2 .links .more-arrow {
      transform: rotate(90deg);
    }
  }
  @media (max-width: 370px) {
    nav .navbar .nav-links {
      max-width: 100%;
    }
  }
  
/* Featured section */
.featuredsection {
  background: #f8fafd;
}
.featuredimagesection {
  position: relative;
  cursor: pointer;
}
.featuredimagesection h6 {
  font-size: 13px;
  position: absolute;
  z-index: 500;
  bottom: 0px;
  left: 0px;
  color: white;
  background-color: #2e4c6e;
  padding: 6px 20px;
  margin-bottom: 0px;
  display: inline-block;
}
.featuredtitle {
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.featuredmeta {
  font-size: 13px;
  color: #979095;
}
.featuredpara {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.featuredsmtitle {
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}
.featuredsmmeta {
  font-size: 13px;
  color: #979095;
}

/* popular section */
.popularheading {
  font-weight: 700;
  font-size: 24px;
}
.sidebarimage {
  width: 40%;
}
.sidebarcontent h5 {
  font-size: 13px;
  font-weight: 500;
  color: #2e4c6e;
}
.sidebarcontent p {
  font-size: 14px;
  /* line-height: 20px; */
  font-weight: 600;
}

/* politics section */
.politicsheading {
  font-weight: 700;
  font-size: 24px;
}
.politicsviewall {
  color: #979095;
  font-size: 14px;
}
.politicstitle {
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
}
.politicsimg {
  width: 100%;
}
.politicsmeta {
  font-size: 13px;
  color: #979095;
}

/* footer section */
.newsletterheading {
  font-weight: 700;
  font-size: 24px;
}
.newsletterpara {
  font-size: 14px;
  color: #979095;
}
.inputemail {
  padding: 10px;
  width: 80%;
  outline: none;
  font-size: 13px;
  color: #979095;
  border: 1px solid #979095;
}
.inputbutton {
  padding: 7px 20px 7px 20px;
  border: none;
  font-size: 13px;
  background-color: #2e4c6e;
  color: white;
  font-weight: 600;
}

